span.stars, span.stars span {
    display: block;
   /* Download the star image here: http://stackoverflow.com/questions/1987524/turn-a-number-into-star-rating-display-using-jquery-and-css */
    background: url('https://apppresser.com/wp-content/uploads/2015/11/stars.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
  }
  
  span.stars span {
    background-position: 0 0;
  }

  table {
    border-collapse: collapse;
  }
  
  table, td, th {
    border: 1px solid black;
  }
  th, td {
    padding: 10px;
    text-align: left;
  }
  