<div>
  
  <!-- <button *ngIf="authService.isAuthenticated() && admin" class="btn btn-success" style="cursor:pointer;margin-bottom:10px;"  (click)="onEditPhone()">Edit Phone</button>  -->
  
  <!-- <button *ngIf="authService.isAuthenticated() && admin" class="btn btn-danger" style="cursor:pointer;margin-bottom:10px;"  (click)="deletePhone()">Delete</button> -->

  <div class="w3-container" style=" padding-left:0px;">
      <button *ngIf="authService.isAuthenticated() && admin" class="btn btn-success" style="cursor:pointer;margin-bottom:10px;"  (click)="onEditPhone()">Edit Phone</button> 
       <button *ngIf="authService.isAuthenticated() && admin" onclick="document.getElementById('id01').style.display='block'" class=" btn btn-danger" style="cursor:pointer;margin-bottom:8px;">Delete</button>
     
       <div id="id01" class="w3-modal" >
         <div class="w3-modal-content" style="margin-left:500px;margin-top:150px;width:300px;height:100px;">
           <div class="w3-container" >
             <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
             <h6>Are you sure?</h6>
             <button *ngIf="authService.isAuthenticated() && admin" class="btn btn-danger" style="cursor:pointer;margin-bottom:10px; margin-top:15px;"  (click)="deletePhone()">Delete</button>
             <button class="btn btn-basic" type="button"  onclick="document.getElementById('id01').style.display='none'" style="cursor:pointer;margin-top:7px;margin-left:10px;">Cancel</button>
           </div>
         </div>
       </div>
     </div>
  
  <br>
  <div style="float:right;">
    <h6 *ngIf="authService.isAuthenticated() && !favCk" ><button *ngIf="authService.isAuthenticated() && !favCk" type="button" class="btn btn-success" style="float:right;" (click)="addFav(phone.model)"><i class="fa fa-bookmark-o fa-2x" aria-hidden="true"></i> Add to Favourite</button></h6>
    
  </div>
  
  <div style="float:right;">
    <h6 *ngIf="authService.isAuthenticated() && favCk"><button *ngIf="authService.isAuthenticated() && favCk" type="button" class="btn btn-danger" style="float:right;" (click)="removeFav()" ><i class="fa fa-times fa-2x" aria-hidden="true"></i> Remove from Favourite</button></h6>
    
  </div>
 
  <img src="assets/img/{{phone.imagePath}}.jpg" alt=""><br><br>
  <table>
    <tr>
      <td>
        <h6> Model </h6>
      </td>
      <td>
        <h6> {{phone.model}} </h6>
      </td>
    </tr>
    <tr>
      <td>
        <h6> Ram </h6>
      </td>
      <td>
        <h6> {{phone.ram}} GB </h6>
      </td>
    </tr>
    <tr>
      <td>
        <h6> Memory </h6>
      </td>
      <td>
        <h6> {{phone.memory}} GB </h6>
      </td>
    </tr>
    <tr>
      <td>
        <h6> Display </h6>
      </td>
      <td>
        <h6> {{phone.display}} inch,LED </h6>
      </td>
    </tr>
    <tr>
      <td>
        <h6> Front Camera </h6>
      </td>
      <td>
        <h6> {{phone.frontCamera}} MP </h6>
      </td>
    </tr>
    <tr>
      <td>
        <h6> Back Camera </h6>
      </td>
      <td>
        <h6> {{phone.backCamera}} MP </h6>
      </td>
    </tr>
    <tr>
      <td>
        <h6> OS </h6>
      </td>
      <td>
        <h6> {{phone.os}} </h6>
      </td>
    </tr>
    <tr>
      <td>
        <h6> CPU </h6>
      </td>
      <td>
        <h6> {{phone.cpu}} </h6>
      </td>
    </tr>
    <tr>
      <td>
        <h6> Battery </h6>
      </td>
      <td>
        <h6> {{phone.battery}} mhz </h6>
      </td>
    </tr>
    <tr>
      <td>
        <h6> Price </h6>
      </td>
      <td>
        <h6>${{phone.price}} </h6>
      </td>
    </tr>
  </table>
  <!-- Model: {{phone.model}}<br>
  Ram: {{phone.ram}} GB<br>
  Memory: {{phone.memory}} GB<br>
  Display: {{phone.display}} inch,LED<br>
  FrontCamera: {{phone.frontCamera}} MP<br>
  BackCamera: {{phone.backCamera}} MP<br>
  Os: {{phone.os}}<br>
  Cpu: {{phone.cpu}}<br>
  Battery: {{phone.battery}} mhz<br>
  Price: ${{phone.price}} <br><br> -->
<br>
  <div *ngIf="givenStar==0 && authService.isAuthenticated()" class="cont">
    <div class="stars">
      <form action="">
        <input class="star star-5" id="star-5" type="radio" name="star" (click)="srate(5)" />
        <label class="star star-5" for="star-5" (mouseover)="show(5)" (mouseleave)="show(0)"></label>
        <input class="star star-4" id="star-4" type="radio" name="star" (click)="srate(4)" />
        <label class="star star-4" for="star-4" (mouseover)="show(4)" (mouseleave)="show(0)"></label>
        <input class="star star-3" id="star-3" type="radio" name="star" (click)="srate(3)" />
        <label class="star star-3" for="star-3" (mouseover)="show(3)" (mouseleave)="show(0)"></label>
        <input class="star star-2" id="star-2" type="radio" name="star" (click)="srate(2)" />
        <label class="star star-2" for="star-2" (mouseover)="show(2)" (mouseleave)="show(0)"></label>
        <input class="star star-1" id="star-1" type="radio" name="star" (click)="srate(1)" />
        <label class="star star-1" for="star-1" (mouseover)="show(1)" (mouseleave)="show(0)"></label>
      </form>
    </div>
    <p>click the stars</p>
  </div>


  
  <div *ngIf="givenStar==5" class="cont">
    <div class="stars">
      <form action="">
        <input class="star star-5" id="star-5" type="radio" name="star" [checked]="true" (click)="srate(5)" />
        <label class="star star-5" for="star-5" (mouseover)="show(5)" (mouseleave)="show(0)"></label>
        <input class="star star-4" id="star-4" type="radio" name="star" (click)="srate(4)" />
        <label class="star star-4" for="star-4" (mouseover)="show(4)" (mouseleave)="show(0)"></label>
        <input class="star star-3" id="star-3" type="radio" name="star" (click)="srate(3)" />
        <label class="star star-3" for="star-3" (mouseover)="show(3)" (mouseleave)="show(0)"></label>
        <input class="star star-2" id="star-2" type="radio" name="star" (click)="srate(2)" />
        <label class="star star-2" for="star-2" (mouseover)="show(2)" (mouseleave)="show(0)"></label>
        <input class="star star-1" id="star-1" type="radio" name="star" (click)="srate(1)" />
        <label class="star star-1" for="star-1" (mouseover)="show(1)" (mouseleave)="show(0)"></label>
      </form>
    </div>
    <p>click the stars</p>
    <button class="btn btn-danger" style="width:50px;float:right;" (click)="delete()"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    <!-- <h5>Excellent</h5> -->
  </div>
  
  <div *ngIf="givenStar==4" class="cont">
    <div class="stars">
      <form action="">
        <input class="star star-5" id="star-5" type="radio" name="star" (click)="srate(5)" />
        <label class="star star-5" for="star-5" (mouseover)="show(5)" (mouseleave)="show(0)"></label>
        <input class="star star-4" id="star-4" type="radio" name="star" [checked]="true" (click)="srate(4)" />
        <label class="star star-4" for="star-4" (mouseover)="show(4)" (mouseleave)="show(0)"></label>
        <input class="star star-3" id="star-3" type="radio" name="star" (click)="srate(3)" />
        <label class="star star-3" for="star-3" (mouseover)="show(3)" (mouseleave)="show(0)"></label>
        <input class="star star-2" id="star-2" type="radio" name="star" (click)="srate(2)" />
        <label class="star star-2" for="star-2" (mouseover)="show(2)" (mouseleave)="show(0)"></label>
        <input class="star star-1" id="star-1" type="radio" name="star" (click)="srate(1)" />
        <label class="star star-1" for="star-1" (mouseover)="show(1)" (mouseleave)="show(0)"></label>
      </form>
    </div>
    <p>click the stars</p>
    <button class="btn btn-danger" style="width:50px;float:right;" (click)="delete()"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
  </div>
  
  <div *ngIf="givenStar==3" class="cont">
    <div class="stars">
      <form action="">
        <input class="star star-5" id="star-5" type="radio" name="star" (click)="srate(5)" />
        <label class="star star-5" for="star-5" (mouseover)="show(5)" (mouseleave)="show(0)"></label>
        <input class="star star-4" id="star-4" type="radio" name="star" (click)="srate(4)" />
        <label class="star star-4" for="star-4" (mouseover)="show(4)" (mouseleave)="show(0)"></label>
        <input class="star star-3" id="star-3" type="radio" name="star" [checked]="true" (click)="srate(3)" />
        <label class="star star-3" for="star-3" (mouseover)="show(3)" (mouseleave)="show(0)"></label>
        <input class="star star-2" id="star-2" type="radio" name="star" (click)="srate(2)" />
        <label class="star star-2" for="star-2" (mouseover)="show(2)" (mouseleave)="show(0)"></label>
        <input class="star star-1" id="star-1" type="radio" name="star" (click)="srate(1)" />
        <label class="star star-1" for="star-1" (mouseover)="show(1)" (mouseleave)="show(0)"></label>
      </form>
    </div>
    <p>click the stars</p>
    <button class="btn btn-danger" style="width:50px;float:right;" (click)="delete()"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    <!-- <h5>Average</h5> -->
  </div>
  
  <div *ngIf="givenStar==2" class="cont">
    <div class="stars">
      <form action="">
        <input class="star star-5" id="star-5" type="radio" name="star" (click)="srate(5)" />
        <label class="star star-5" for="star-5" (mouseover)="show(5)" (mouseleave)="show(0)"></label>
        <input class="star star-4" id="star-4" type="radio" name="star" (click)="srate(4)" />
        <label class="star star-4" for="star-4" (mouseover)="show(4)" (mouseleave)="show(0)"></label>
        <input class="star star-3" id="star-3" type="radio" name="star" (click)="srate(3)" />
        <label class="star star-3" for="star-3" (mouseover)="show(3)" (mouseleave)="show(0)"></label>
        <input class="star star-2" id="star-2" type="radio" name="star" [checked]="true" (click)="srate(2)" />
        <label class="star star-2" for="star-2" (mouseover)="show(2)" (mouseleave)="show(0)"></label>
        <input class="star star-1" id="star-1" type="radio" name="star" (click)="srate(1)" />
        <label class="star star-1" for="star-1" (mouseover)="show(1)" (mouseleave)="show(0)"></label>
      </form>
    </div>
    <p>click the stars</p>
    <button class="btn btn-danger" style="width:50px;float:right;" (click)="delete()"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
  </div>
  
  <div *ngIf="givenStar==1" class="cont">
    <div class="stars">
      <form action="">
        <input class="star star-5" id="star-5" type="radio" name="star" (click)="srate(5)" />
        <label class="star star-5" for="star-5" (mouseover)="show(5)" (mouseleave)="show(0)"></label>
        <input class="star star-4" id="star-4" type="radio" name="star" (click)="srate(4)" />
        <label class="star star-4" for="star-4" (mouseover)="show(4)" (mouseleave)="show(0)"></label>
        <input class="star star-3" id="star-3" type="radio" name="star" (click)="srate(3)" />
        <label class="star star-3" for="star-3" (mouseover)="show(3)" (mouseleave)="show(0)"></label>
        <input class="star star-2" id="star-2" type="radio" name="star" (click)="srate(2)" />
        <label class="star star-2" for="star-2" (mouseover)="show(2)" (mouseleave)="show(0)"></label>
        <input class="star star-1" id="star-1" type="radio" name="star" [checked]="true" (click)="srate(1)" />
        <label class="star star-1" for="star-1" (mouseover)="show(1)" (mouseleave)="show(0)"></label>
      </form>
    </div>
    <p>click the stars</p>
    <button class="btn btn-danger" style="width:50px;float:right;" (click)="delete()"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
  </div>
  <div *ngIf="authService.isAuthenticated()">
      <h5 *ngIf="showText==5">Excellent</h5>
      <h5 *ngIf="showText==4">Good</h5>
      <h5 *ngIf="showText==3">Average</h5>
      <h5 *ngIf="showText==2">Poor</h5>
      <h5 *ngIf="showText==1">Terrible</h5>
    </div>
      
  <!-- <button class="btn btn-danger" style="width:50px;float:right;" (click)="delete()"><i class="fa fa-trash-o" aria-hidden="true"></i></button> -->
  <br>
  <h5 *ngIf="avgrating>0">Average rating: {{avgrating | number : '1.1-1'}}</h5>
  <!-- <h6 *ngIf="!authService.isAuthenticated()" style="color:rgb(116, 142, 190);float:right;">Log in to give rating</h6> -->
  <h5 *ngIf="avgrating<1 ">Not rated yet</h5> 
  <span *ngIf="avgrating>0" class="stars alignright">
  <span [ngStyle]="{ 'width': getStars(avgrating) }"></span>
</span>

<h6><i class="fa fa-user-o" aria-hidden="true"></i> {{k}} total</h6>
<div>
  <div *ngIf="avgrating>0" style="display: block">
    <br>
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
           
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>
  </div>
</div>
  <br><br>
  <button class="btn btn-primary" (click)="compare(phone)">Add to compare</button>
  
  <br>
  <hr>
</div>
<!-- <div style="position:sticky;top:70px; float:right;"><button (click)="gotop()">top</button></div> -->

<br>
<h5 style="border-top:1px solid grey;">Features</h5>
<br>
<div class="row" *ngFor="let review of reviews;let i=index" >
    <div style="cursor:pointer;" *ngIf="phone.model==review.model;">
     <div class="col-md-12" [routerLink]="['/detail/'+i]" style="width:600px;">
       <div class="col-md-3"  style="width:200px;margin-right:10px;">
           <img src="assets/img/{{review.imagePath}}.jpg" class="img-fluid" style="max-height:300px;max-width:200px;">
       </div>
       <br>
       
           <h3>{{review.model}}</h3>
           
           <p>{{review.body}}</p>
     
      <br>
       <h5>Performance</h5>
       <p>{{review.performance}}</p>
       <img src="assets/perImg/{{review.perImagePath}}.JPG" alt="" style="max-height:500px;max-width:500px;">
       <h5>Hardware</h5>
       <p>{{review.hardware}}</p>
       <h5>Software</h5>
       <p>{{review.software}}</p>
       <h5>Display</h5>
       <p>{{review.display}}</p>
       <h5>Camera</h5>
       <p>{{review.camera}}</p>
       <h5>Battery</h5>
       <p>{{review.battery}}</p>
     </div>
    </div>    
 </div>
 <div *ngIf="empLen"><h6>Phone's Reivews form Expert are yet to come</h6></div>
 <br>
 <h5 style="border-top:1px solid grey;">User's review</h5>
 <h6 *ngIf="!authService.isAuthenticated()" style="color:rgb(165, 179, 206);">Log in to post review</h6>
 <br>
<div style="margin-left:20px;" class="row">
  <div class="col-xs-10">
    <div *ngIf="authService.isAuthenticated()" class="row">
      <div class="col-xs-12">
        <form (ngSubmit)="onAddItem(f)" #f="ngForm">

          <div class="row">
            <div class="col-sm-5 form-group">
              <label for="comment">Comment</label>
              <!-- <input type="text" id="comment" class="form-control" name="comment" ngModel required> -->
              <textarea type="message" id="comment" class="form-control" name="comment" required rows="4" cols="200" maxlength="80" (keyup)="count(tweetmsg)"
                [(ngModel)]="tweetmsg">
                    
                </textarea> {{characterleft}} charcter(s) left

            </div>
          </div>
          <div style="margin-left:5px;" class="row">
            <div class="col-xs-12">
              
              <div class="w3-container" style=" padding-left:0px;">
                  <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add' }}</button>
    
                 <button *ngIf="editMode" onclick="document.getElementById('id02').style.display='block'" type="button" class=" btn btn-danger" style="cursor:pointer;">Delete</button>
                 <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
               
                 <div id="id02" class="w3-modal" >
                   <div class="w3-modal-content" style="margin-left:500px;margin-top:150px;width:300px;height:100px;">
                     <div class="w3-container" >
                       <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                       <h6>Are you sure?</h6>
                       <button onclick="document.getElementById('id02').style.display='none'" style="cursor:pointer;"  class="btn btn-danger" type="button" (click)="onDelete()"> Delete</button>
                       
                       <button class="btn btn-basic" type="button"  onclick="document.getElementById('id02').style.display='none'" style="cursor:pointer;margin-left:10px;">Cancel</button>
                     </div>
                   </div>
                 </div>
               </div>
              <!-- <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button> -->
            </div>
          </div>
          <br>
        </form>
      </div>
    </div>

    <div *ngFor="let ureview of ureviews;let i=index">
      <div *ngIf="phone.model==ureview.model" style="width:500px;">
        <div class="card" style="width:500px;">
          <div class="card-header">
            <h4>
              <i class="fa fa-user" aria-hidden="true"> {{ureview.name}}</i> <h6 style="float:right;">posted on: {{ureview.date}}</h6>
            </h4>
            
          </div>
          <div (scroll)="onScroll($event)" class="card-block">
            <p class="card-text" style="font-size:20px;font-style: italic;">{{(ureview.comment.length>150)? ( ureview.comment | slice:0:150)+' ...':(ureview.comment)}}</p>
          </div>
        </div>
        <button (scroll)="onScroll($event)" style="margin-bottom:10px;" *ngIf="(userID==ureview.uid && authService.isAuthenticated())"
          type="button" class="btn btn-info" (click)="onEditItem(i,$event)">Edit</button>

          <div class="w3-container" style=" padding-left:0px;">
                  
    
                 <button *ngIf="admin" onclick="document.getElementById('id03').style.display='block'" class=" btn btn-danger" style="cursor:pointer;">Delete</button>
                
               
                 <div id="id03" class="w3-modal" >
                   <div class="w3-modal-content" style="margin-left:500px;margin-top:150px;width:300px;height:100px;">
                     <div class="w3-container" >
                       <span onclick="document.getElementById('id03').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                       <h6>Are you sure?</h6>
                       <button (click)="onDeleteAdm(i)" onclick="document.getElementById('id03').style.display='none'" style="cursor:pointer;"  class="btn btn-danger" type="button" > Delete</button>
                       
                       <button class="btn btn-basic" type="button"  onclick="document.getElementById('id03').style.display='none'" style="cursor:pointer;margin-left:10px;">Cancel</button>
                     </div>
                   </div>
                 </div>
               </div>
        <br>
      </div>

    </div>

  </div>
</div>
<div *ngIf="empUrLen"><h6>No User's Reivew yet</h6></div>
<br>

<button style="margin-left:10px;" class="btn btn-primary" (click)="goBack()">Back</button>

<button *ngIf="authService.isAuthenticated() && admin" class="btn btn-success" style="cursor:pointer;" (click)="onAdd()">Add phone's review</button>

